.clientslinks{margin-top:20px;margin-bottom:20px}.clientslinks .button{display:inline-block;padding:0.7rem 1rem}.clientslinks .button .appsmall{vertical-align:sub;margin-right:0.2rem}.clipboardButton{display:inline-block;padding-left:36px;background-position:12px}#endpoint-url{width:250px}